!!! 5
html
  head
    title Growl notification
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    base(href=baseurl)
    style(type="text/css")
      @import URL("default.css");
  body(style=bodyStyle)
    .container(class=priority, style="opacity: #{opacity}")
      .slice1
        .board
      .slice2
        .board
      .slice3
        .board
      .slice4
        .board
      .slice5
        .board
      .text
        h1= title
        p= text
      img(src=image)
